doctype html
html
    head
        title='error'
        link(rel="stylesheet", href="/public/bootstrap-4.5.0-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/css/error_page.css")
    body
        .container-error
            div.error
                h1 404! <br/> 
                h2 This is an invalid url
                <div>
                    <h2></h2?
                </div>