// $primarytbn: rgb(240, 131, 131);
// $textcolor:rgb(54, 16, 16);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$purpleLight : #302043;
$purpleDark : #282639;
$greenNeon : #92CF48;
$greyLight : #F4F6F9;
$greyDark : #EAEDF3;
$greyDarkFont: #6C7882;
$greyLightFont: #bbc1c0;
$greyLightFont2: #a5adbd;
$orange: #f48320;
$purple: #744bce;
$mainColor: #505962;
$mainColor2: #1ebba3;
$mainColor2Dark: #189582;

.error{
    color: red;
    font-size: .8rem;
}

