* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EAEDF3;
  font-family: 'Montserrat', sans-serif;
  color: #282639;
}

textarea:focus, input:focus {
  outline: none;
  background: #EAEDF3;
  border-radius: 5px;
}

/* navbar */
/*side bar*/
.sidebar {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #302043;
  -webkit-box-shadow: 5px 7px 25px #999;
          box-shadow: 5px 7px 25px #999;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

.sidebar .admin {
  color: #F4F6F9;
  display: block;
  margin: auto;
  text-align: center;
  padding: 1em;
  border-bottom: 1px groove #eee;
}

.sidebar .admin:hover {
  color: #92CF48;
}

.sidebar .admin-info {
  border-bottom: 1px groove #eee;
  padding-top: 2rem;
  padding: 1em;
}

.sidebar .admin-info img {
  border-radius: 50%;
  height: 60px;
}

.sidebar .admin-info .admin-name {
  margin-left: 1em;
  color: #F4F6F9;
}

.sidebar .sidebar-link {
  margin-top: 2rem;
}

.sidebar .sidebar-link a {
  display: block;
  width: 100%;
  margin: 0;
  color: #EAEDF3;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-link a:hover {
  background: #282639;
  border-left: 5px solid #92CF48;
  padding: 15px 30px 15px 25px;
}

.sidebar .sidebar-link a:hover .fa {
  color: #92CF48;
}

.sidebar .sidebar-link a .fa {
  color: #EAEDF3;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

.sidebar .sidebar-link a.active {
  background: #282639;
  border-left: 5px solid #92CF48;
  padding: 15px 30px 15px 25px;
}

.sidebar .sidebar-link a.active .fa {
  color: #92CF48;
}

/*end of side-bar*/
/*upper navbar*/
.upper-nav {
  margin-left: auto;
  padding: .4rem;
  background: #fff;
}

.upper-nav .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-nav .search-area input[type="text"] {
  border: none;
  border-bottom: 2px groove #92CF48;
  font-size: 1.3rem;
  color: #92CF48;
  padding: 10px;
  font-weight: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 75%;
  width: 300px;
  position: relative;
  margin-top: 1%;
}

.upper-nav .search-area input[type="text"]:hover {
  background: #EAEDF3;
  border-radius: 5px;
}

.upper-nav .search-area input[type="text"]:active {
  background: #EAEDF3;
  border-radius: 5px;
}

.upper-nav .search-area input[type="text"]::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #92CF48;
}

.upper-nav .search-area input[type="text"]:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #92CF48;
}

.upper-nav .search-area input[type="text"]::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #92CF48;
}

.upper-nav .search-area input[type="text"]::placeholder {
  font-size: 0.9rem;
  color: #92CF48;
}

.upper-nav .search-area .fa {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  color: #92CF48;
  background: #EAEDF3;
  margin-left: 2px;
}

.upper-nav .col-md-3 .fa {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  color: #92CF48;
  background: #EAEDF3;
  margin-left: 2px;
}

/*end ofupper navbar*/
.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: "3";
  position: absolute;
  top: 17px;
  left: 35px;
  height: 1.0rem;
  width: 1.0rem;
  font-size: .7rem;
  text-align: center;
  color: #F4F6F9;
  background-color: red;
  border-radius: 50%;
}

/*__________________modal signout____________*/
.sign-out-model .modal-dialog .modal-content {
  text-align: center;
}

.sign-out-model .modal-dialog .modal-content .modal-header {
  padding: 0.3rem;
}

.sign-out-model .modal-dialog .modal-content .modal-header h4 {
  margin-left: 13rem;
  color: #92CF48;
}

.sign-out-model .modal-dialog .modal-content .modal-header .close:focus, .sign-out-model .modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}

.sign-out-model .modal-dialog .modal-content .modal-body {
  border: none;
}

.sign-out-model .modal-dialog .modal-content .modal-footer {
  padding: .2rem;
}

.sign-out-model .modal-dialog .modal-content .modal-footer button {
  border: 1px groove #92CF48;
}

.sign-out-model .modal-dialog .modal-content .modal-footer button .sign-out-btn {
  background: red;
}

/*_______________end of modal signout____________*/
/*_______________add agent modal_____________*/
.add_agent_model {
  text-align: left;
  padding: 2rem;
}

.add_agent_model .modal-dialog .modal-content {
  border: 2px groove #92CF48;
}

.add_agent_model .modal-dialog .modal-content .heading {
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .2rem;
  color: #282639;
}

.add_agent_model .modal-dialog .modal-content form {
  padding: 2rem;
}

.add_agent_model .modal-dialog .modal-content form .btn {
  background: #282639;
  color: #92CF48;
}

.add_agent_model .modal-dialog .modal-content form .btn:hover {
  background-color: #92CF48;
  color: #282639;
}

/*______________end of agent model__________*/
/*______________cards______________________*/
.card-section .container-fluid .row .col-lg-9 {
  margin-left: auto;
}

.card-section .container-fluid .row .col-lg-9 .row {
  padding-top: 1rem;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 {
  padding: .7rem;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card {
  -webkit-box-shadow: 1px 2px 5px #999;
          box-shadow: 1px 2px 5px #999;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card:hover {
  -webkit-box-shadow: 2px 3px 15px #999;
          box-shadow: 2px 3px 15px #999;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-body .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-body .card-icon .fa {
  font-size: 4em;
  color: #92CF48;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-body .card-icon .text-align {
  margin-right: .1px;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-footer {
  padding: .1rem;
  padding-left: 2rem;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-footer span {
  margin-left: 1rem;
  color: #6C7882;
}

.card-section .container-fluid .row .col-lg-9 .row .col-sm-6 .card .card-footer .fa {
  color: #92CF48;
}

/*_____________________end of cards___________________*/
/*___________________table section____________________*/
.table-section .container-fluid .row .col-lg-9 {
  margin-left: auto;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 {
  text-align: center;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 h3 {
  margin-bottom: .2rem;
  margin-left: 4rem;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table-header .btn {
  margin-right: 5rem;
  background: #282639;
  color: #92CF48;
  margin-bottom: .3rem;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table-header .btn:hover {
  background: #92CF48;
  color: #282639;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table1 {
  color: #282639;
  background: #fff;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table1 tbody tr {
  cursor: pointer;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table1 button {
  background-color: #92CF48;
  color: #282639;
}

.table-section .container-fluid .row .col-lg-9 .row .col-12 .table1 thead {
  font-weight: bold;
}

.table2 {
  padding: 2rem;
  color: #282639;
}

.table2 tr {
  padding: 7rem;
}

.table2 td, .table2 th {
  padding: 1rem;
  width: auto;
  border-bottom: 1px groove #92CF48;
}

.table2 button {
  background: #282639;
  color: #92CF48;
}

.table2 button:hover {
  background: #92CF48;
  color: #282639;
}

/*____________end of table section_______________*/
footer {
  background: white;
  font-size: .7rem;
  color: #92CF48;
  z-index: 2;
  width: 100vw;
  padding: 1rem;
  border-top: 1px groove #92CF48;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  .sidebar {
    position: static;
    height: auto;
  }
  .upper-nav {
    position: static;
  }
  /* cards*/
  .card-section .container-fluid .row .col-lg-9 {
    margin-left: auto;
  }
  .card-section .container-fluid .row .col-lg-9 .row {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: .3rem;
  }
  /* end of cards*/
}
/*# sourceMappingURL=dash.css.map */