@import 'variables';
@mixin margin-top() {
    margin-top: 7rem;
}
.table-section{
    @include margin-top();
}

.edit_form{
width: 60vw;
text-align: left;
 .btn{
     background: $purpleDark;
     color:$greenNeon;
     margin: 1rem;

     &:hover{
         background: $greenNeon;
         color: $purpleDark;
     }
 }
}
