* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  color: red;
  font-size: .8rem;
}

.products .narrow .card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .narrow .card-deck .card {
  min-width: 10rem;
  max-width: 10rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: #282639;
}

/*___________cards___________*/
.card {
  color: #282639;
  border: none;
}

.card a:hover {
  color: #92CF48;
  text-decoration: none;
  -webkit-box-shadow: 2px 3px 15px #999;
          box-shadow: 2px 3px 15px #999;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

/*___________end of cards________*/
/*_______offset____________*/
.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*_______end of offset__________*/
/*nav bar*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar .search-area {
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 5px;
}

.navbar .search-area input {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid #92CF48;
}

.navbar .search-area input::-webkit-input-placeholder {
  color: #92CF48;
  font-size: 1.2rem;
}

.navbar .search-area input:-ms-input-placeholder {
  color: #92CF48;
  font-size: 1.2rem;
}

.navbar .search-area input::-ms-input-placeholder {
  color: #92CF48;
  font-size: 1.2rem;
}

.navbar .search-area input::placeholder {
  color: #92CF48;
  font-size: 1.2rem;
}

.navbar .search-area .fa {
  background: transparent;
  outline: none;
  border-radius: 50%;
  border: #92CF48;
}

textarea:focus, input:focus {
  outline: none;
}

.navbar-brand h1 {
  height: 2rem;
  color: #92CF48;
}

.navbar-nav li {
  padding: .7rem;
}

.navbar-dark .dropdown-menu {
  display: none;
  margin-top: .4rem;
  border-top: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
}

.navbar-dark .dropdown-menu .dropdown-item {
  background: none;
  padding: 0;
}

.navbar-dark .dropdown {
  height: 100%;
}

.navbar-dark .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-dark .navbar-nav li {
  padding-right: .7rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #92CF48;
}

/*____end of nav bar__________*/
/*____________landing page__________*/
.home-inner {
  margin-top: 4rem;
}

.index {
  background-image: url(/public/img/slider/five.jpg);
}

.furniture {
  background-image: url(/public/img/slider/five.jpg);
}

.electronics {
  background-image: url(/public/img/slider/three.jpg);
}

.fitness {
  background-image: url(/public/img/slider/six.jpg);
}

.toys {
  background-image: url(/public/img/slider/seven.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1re .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1re .1rem .8rem black;
  padding-bottom: 1.6rem;
}

/*____________end of landing page_______________*/
/*_____________categories section____________________*/
.narrow {
  width: 95%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.narrow a {
  border-width: medium;
  border-radius: 0;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: #282639;
}

/*_____________end of categories section____________________*/
.heading {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
  text-transform: uppercase;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background: #92CF48;
  margin: 0 auto 3rem;
}

.fa {
  color: #92CF48;
}

/*_____________ popular pdct section_____________________*/
.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

.slider {
  position: relative;
}

.slider .next {
  position: absolute;
  top: 60%;
  right: .4rem;
  font-size: 4rem;
  cursor: pointer;
}

.slider .prev {
  position: absolute;
  top: 60%;
  left: .4rem;
  font-size: 4rem;
  cursor: pointer;
}

.slider .pdt-wrapper {
  border: 1px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider .pdt-wrapper .pdt {
  display: inline-block;
  height: auto;
  margin: 0 10px;
}

.slider .pdt-wrapper .pdt .card:focus {
  outline: none;
}

.slider .pdt-wrapper .pdt .card .card-body {
  color: #282639;
}

.slider .pdt-wrapper .pdt .card:hover .card-title {
  color: #92CF48;
}

/*_____________end of popular pdct section_____________________*/
.details_heading {
  margin-top: 5rem;
}

/*__________ footer_________*/
footer {
  background: #282639;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 0;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer h1 {
  color: #92CF48;
}

footer a {
  color: white;
}

footer .fa {
  color: white;
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer .fa:hover {
  color: #92CF48;
}

footer hr {
  width: 100%;
  border-top: .2rem solid grey;
  margin-top: 3rem;
}

/*_________end of footer___________*/
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .narrow {
    width: 100%;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  input {
    width: 12rem;
    font-size: 1rem;
  }
  input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  input:-ms-input-placeholder {
    font-size: 1rem;
  }
  input::-ms-input-placeholder {
    font-size: 1rem;
  }
  input::placeholder {
    font-size: 1rem;
  }
  .slider .next {
    right: 0;
    font-size: 2rem;
  }
  .slider .prev {
    left: 0;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */