@import 'variables';
@import 'catagories';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    color: $purpleDark;
}
/*___________cards___________*/
.card{
    color: $purpleDark;
    border: none;
    a{
      
        &:hover{
            color: $greenNeon;
            text-decoration: none;
            box-shadow: 2px 3px 15px #999;
            transform: translateY(-1px);
            transition: ease-in-out .3s;
           }
    }
}
/*___________end of cards________*/ 
/*_______offset____________*/
.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/*_______end of offset__________*/ 

/*nav bar*/ 
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6) !important;
    .search-area{
        margin: 0 auto;
        // margin-left: 7rem;
        font-size: 2rem;
        border-radius: 5px;
        input{
            color: white;
            background: transparent;
            border: none;
            border-bottom: 2px solid $greenNeon;
            &::placeholder{
                color: $greenNeon;
                font-size: 1.2rem;
            }
        }
        .fa{
            background: transparent;
            outline: none;
            border-radius: 50%;
            border: $greenNeon;           
        }
        
    }
}
textarea:focus, input:focus{
    outline: none;
  }
.navbar-brand{
    h1{
        height: 2rem;
        color: $greenNeon;
    }
}
.navbar-nav {
    li{
        padding: .7rem;
    }
}
.navbar-dark{
    .dropdown-menu{
        display: none;
        margin-top: .4rem;
        border-top: none;
        border-radius: 0;
        background: rgba(0,0,0,0.6);
        .dropdown-item{
            background: none;
            padding: 0;
        }
    }
    .dropdown{
        height: 100%;
        &:hover{
            .dropdown-menu{
                display: block;
            }
        }
    }
    .navbar-nav {
        li{
            padding-right: .7rem;
            padding-top: .2rem;
            padding-bottom: .2rem;
        }
        .nav-link{
            color: white;
            padding-top: .8rem;
            &.active,&:hover{
                color: $greenNeon;
            }
        }
    }
}
/*____end of nav bar__________*/

/*____________landing page__________*/ 

.home-inner{
    margin-top: 4rem;
    background-image: url(/public/img/slider/five.jpg);
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    color: #fff;
    // text-transform: uppercase;
    z-index: 1;
    h1{
        font-size: 3.8rem;
        font-weight: 700;
        letter-spacing: .3rem;
        text-shadow: .1re .1rem .8rem black;
        padding-bottom: 1rem;
    }
    h3{
        font-size: 2rem;
        text-shadow: .1re .1rem .8rem black;
        padding-bottom: 1.6rem;
    }
}
/*____________end of landing page_______________*/ 

/*_____________categories section____________________*/ 
.narrow{
    width: 95%;
    margin:1.5rem auto;
    padding-top: 2rem;
   
    h1{
        font-size: 2.4rem;
    }
    a{
        border-width: medium;
        border-radius: 0;
        font-size: 1.2rem;
        padding: .6rem 1.2rem;
        margin: 1rem;
        color: $purpleDark;
    }
}
/*_____________end of categories section____________________*/ 

.heading{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.9rem;
    text-transform: uppercase;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background: $greenNeon;
    margin: 0 auto 3rem;
}
.fa{
    color: $greenNeon;
}

/*_____________ popular pdct section_____________________*/ 
.jumbotron{
    margin-bottom: 0;
    border-radius: 0;
}

.slider{
    position: relative;
    .next{
        position: absolute;
        top: 60%;
        right: .4rem;
        font-size: 4rem;
        cursor: pointer;        
    }

    .prev{
        position: absolute;
        top: 60%;
        left: .4rem;
        font-size: 4rem;
        cursor: pointer;        
    }

    
    .pdt-wrapper{
        border: 1px;
        width: 90%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        .pdt{
            display: inline-block;
            height: auto;
            margin: 0 10px;
            .card{
                &:focus{
                    outline: none;
                }                
                .card-body{
                    color: $purpleDark;
                }
                &:hover{
                    .card-title{
                        color: $greenNeon;
                    }
                }
            }
        }
    }
}


/*_____________end of popular pdct section_____________________*/ 



/*__________ footer_________*/

footer{
    background: $purpleDark;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 0;
    img{
        height: 3rem;
        margin: 1.5rem 0;
    }
    h1{
        color: $greenNeon;
    }
    a{
        color: white;
    }
    .fa{
        color: white;
        font-size: 1.6rem;
        margin: 1.2rem .5rem 0 0;
        &:hover{
            color: $greenNeon;
        }
    }
    hr{
        width: 100%;
        border-top: .2rem solid grey;
        margin-top: 3rem;
    }
}
/*_________end of footer___________*/ 



@media(max-width: 767px){

.caption{
  
        h1{
            font-size: 2.3rem;
            letter-spacing: .15rem;
            padding-bottom: .5rem;
        }
        h3{
            font-size: 1.2rem;
            padding-bottom: 1.2rem;
        }   
    }

.narrow{
    width: 100%;
  h1{
      font-size: 1.5rem;
   }
}
input{
width: 12rem;
font-size: 1rem;
    &::placeholder{
        font-size: 1rem;
    }
}

.slider{
    .next{
        right: 0;
        font-size: 2rem;       
    }

    .prev{
        left: 0;
        font-size: 2rem;       
    }
}

}

