@import 'variables';
// all elements
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $greyDark;
    color: $purpleDark;

}
textarea:focus, input:focus{
  outline: none;
}

// Nav-bar
header{
  // display: flex;
  // flex-direction: column;
  a{
    text-decoration: none;
    color: $purpleDark;

  }
    // navbar one
    nav.primary-nav{
        display:  flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        background: #fff;
        color: $purpleDark;
        transition: top 0.3s;
        justify-content: center;
        align-items: center;
        // color: red;
        .fa{
          color: $purpleDark;
          font-size: 30px;
        }
        .logo{
          margin-right: 10rem;
          font-weight: 10;
          color: $purpleDark;
          font-size: 3rem;
        }

        .search-area{

          input[type="text"]{
            // border-color: $purpleDark;
            font-size: 1.0rem;
            color: $purpleDark;
            padding: 10px;
            font-weight: 10;
            height: 75%;
            width: 500px;
          
            &::placeholder{
              font-size: 0.9rem;
              color: $greenNeon;
            }
        }
      }

      .user-area{
        margin-left: 10rem;
      }
    }

    // navbar two
    nav.secondary-nav{
      height:20px;
      background: $purpleDark;
      display: flex;
      position: fixed;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;

      ul{
        
        display: flex;
        
        li{
          a{
            color: #fff;
            margin: 5px;
            padding: 5px;

          }          
        }
      }
    }

}

// Content
/static/img/slider/pic.jfif
.container-fluid{
    background: $greyLight;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

// The footer
.footer{
    background: $purpleDark;
    color: white;
    height: 30px;
    // width: 100vw;
    text-align: center;
    // margin-bottom: 0;
    padding: 5px;
    // display: flex;
    span{
      color: $greyLightFont;
  
    }
  }
