doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
    link(rel='title icon', href='images.png', alt='title')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/public/css/dash.css')
    link(rel='stylesheet', href='/public/css/extra.css')
    title Admin
  body
    nav.navbar.navbar-expand-md.navbar-light
      button.navbar-toggler.ml-auto(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        .container-fluid
          .row
            // sidebar
            .col-xl-2.col-lg-3.col-md-4.sidebar.fixed-top
              a.navbar-brand.admin(href='#') Admin
              //- .admin-info
              //-   img(src='/public/img/91.jpg', alt='', width='')
              //-   a.admin-name(href='#') Bp mike
              ul.sidebar-link
                li
                  a(href='/dash/dashboard')
                    i.fa.fa-home(aria-hidden='true')
                    | Dashboard
                li
                  a(href='/dash/products')
                    i.fa.fa-sticky-note-o(aria-hidden='true')
                    | Products
                li
                  a(href='/dash/purchases')
                    i.fa.fa-sticky-note-o(aria-hidden='true')
                    | Records
                //- li
                  a(href='#')
                    i.fa.fa-bookmark-o(aria-hidden='true')
                    | item
                //- li
                  a(href='#')
                    i.fa.fa-calendar-check-o(aria-hidden='true')
                    | calender
                li
                  a.active(href='/dash/agents')
                    i.fa.fa-users(aria-hidden='true')
                    | Users
                //- li
                  a(href='#')
                    i.fa.fa-table(aria-hidden='true')
                    | Tables
                //- li
                  a(href='#')
                    i.fa.fa-cog(aria-hidden='true')
                    | Settings
            // end of sidebar
            // top-nav
            .col-xl-10.col-lg-9.col-md-8.fixed-top.upper-nav
              .row
                .col-md-4
                  form.search-area(action='')
                    input(type='text', name='', value='', placeholder='Type here to search')
                    button.fa.fa-search(type='button')
                .col-md-5
                .col-md-3
                  ul.navbar-nav
                    //- li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-comments
                    //- li.nav-item.icon-parent
                      a.nav-link.icon-bullet(href='#')
                        i.fa.fa-bell
                    li.nav-item.sign-out
                      a.nav-link(href='#', data-toggle='modal', data-target='#sign-out')
                        i.fa.fa-sign-out
            // end of top-nav
            // end of nvbar
    // model
    #sign-out.modal.sign-out-model
      .modal-dialog
        .modal-content
          // 
          .modal-header
            h4 sign-out
            button.close(type='button', data-dismiss='modal') x
          .modal-body
            | Are you sure you want to leave?
          .modal-footer
            button.btn(type='button', data-dismiss='modal') cancel
            a.btn.btn-danger.sign-out-btn(type='button', href='/dash') Sign out
    // end of model
    // table section
    section.table-section
      .container-fluid
        .row
          .col-xl-10.col-lg-9.col-md-8
            .row
              .col-12
                // --------- include page --------
                block content
                // ------------footer------------
    footer
      .row.justify-content-center
        | Covid-Stores ©bpmike | Designed by Otieno Mike
    // -------------end of footer--------
    script(src='/public/bootstrap/js/jquery-3.5.1.min.js')
    script(src='/public/bootstrap/js/popper.min.js')
    script(src='/public/bootstrap/js/bootstrap.min.js')
    script(src='/public/js/main.js')
    script(src='/public/js/validation.js')
