extends layout
block content
    header.card-header
        h4.card-title Login  
    form(method="POST" action='/login')
        div.form-row
            div.col.form-group
                label User name
                input.form-control(name="username")
        div.form-row
            div.col.form-group
                label Enter Password
                input.form-control(type="password" name="password")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Login :-)
        div.form-row
            div.col.form-group
                a(class='button', href='/dash/') Register