doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
    link(rel='title icon', href='images.png', alt='title')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/public/css/splash.css')
    title Manager login
  body
    .card.border-success.mb-3.jumbotron(style='max-width: 30rem;')
      .card-header Sign in
      form(action="/login" method="POST" name="manager_login")
        .form-group
          label(for='username') username
          input#username.form-control(type='text', placeholder='username')
        .form-group
          label(for='Password') Password
          input#Password1.form-control(type='password', placeholder='password')
        a.btn(href='/dash/dashboard') Login
        a.btn(href='/dash') Back
    script(src='/public/bootstrap/js/jquery-3.5.1.min.js')
    script(src='/public/bootstrap/js/popper.min.js')
    script(src='/public/bootstrap/js/bootstrap.min.js')
    script(src='/public/js/main.js')
