<!DOCTYPE html>
<html>

<head>
    <title>Hive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/maincss.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/side_bar.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/index_css.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
   <!--nav start  -->
   <nav class="navbar navbar-expand-lg bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Hive"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul> -->
      <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
        <ul class="navbar-nav">
            <li><a class="nav-link active" href="index.html">Home</a></li>
            <li><a class="nav-link" href="about.html">Aboutus</a></li>
            <li><a class="nav-link" href="services.html">Services</a></li>
            <li><a class="nav-link" href="#">nav</a></li>
            <li><a class="nav-link" href="contact.html">Contact us</a></li>
            <li><a class="nav-link active sign-up"  href="#">SingUp now</a></li>
        </ul>
    </div>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search" aria-label="Search"> -->
        <input type="text" class="search-txt" placeholder=" Type to Search">

        <a class="search-btn">
            <i class="fa fa-search search-icon" aria-hidden="true"></i>
        </a>
     </form>
    </div>
  </nav>

   <!-- nav end -->
</body>

</html>
