<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="title icon" href="images.png" alt='title'>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/splash.css">
    
    <title>Admin</title>
</head>
<body>
   
    <div class="card border-success mb-3 jumbotron" style="max-width: 30rem;">
        <div class="card-header">Sign in</div>
        <form>
            <div class="form-group">
              <label for="username">username</label>
              <input type="text" class="form-control" id="username" placeholder="username" >
            </div>

            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password1" placeholder="password" >
            </div>
            <a href="/views/layouts/admins/dash.html" class="btn">Login</a>
            <a href="/views/layouts/admins/splash.html" class="btn">Back</a>
          </form>
      </div>

<script src="/public/bootstrap/js/jquery-3.5.1.min.js"></script>
    <script src="/public/bootstrap/js/popper.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>