<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="title icon" href="images.png" alt='title'>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/splash.css">
    
    <title>Admin</title>
</head>
<body>
   
    <div class="list-group">
        <i class="fa fa-user-circle" aria-hidden="true"></i>

        <section>
            <a href="/views/layouts/admins/manager_login.html" class="list-group-item list-group-item-action active">
                <table>
                    <tr>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i></td>
                        <td>Manager/Admin</td>
                    </tr>
                </table>
            </a>
            <a href="/views/layouts/admins/SalesAgent_login.html" class="list-group-item list-group-item-action">
                <table>
                    <tr>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i></td>
                        <td>Sales Agent</td>
                    </tr>
                </table>
            </a>
        </section>
       </div>

<script src="/public/bootstrap/js/jquery-3.5.1.min.js"></script>
    <script src="/public/bootstrap/js/popper.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>