<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <style>
        body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;

        }
        .container-fluid{
            background: rgb(226, 241, 247);
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <li><a href="#"></a></li>
    <div class="container-fluid">
        <p>people</p>
    </div>
    <script src="/public/js/jquery-3.0.0.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>