doctype html
html
  head
    meta(charset="utf-8")
    title='layout template'
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/static/bootstrap-4.5.0-dist/css/bootstrap.min.css")
    //- look more into linking script tags
    script(async defer src="https://buttons.github.io/buttons.js")
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/main.js"></script> 

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel="stylesheet" href="/static/css/ui-layout.css")


  body
    header 
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        a.navbar-brand(href="#") Hidden brand
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          li.nav-item.active
            a.nav-link(href="#")
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link.disabled(href="#" tabindex="-1" aria-disabled="true") Disabled
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
          button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

             
        //- nav.primary-nav#primary-nav
        //-   .logo
        //-     a(type="button") Hive
        //-   .search-area             
        //-     <input type="text" name="" value="" placeholder="Type here to search">
        //-     <i type='button' class="fa fa-search search-area" aria-hidden="true"></i>
        //-   .user-area
        //-     //- phone icon
        //-     <i class="fa fa-shopping-cart" type="button" aria-hidden="true"></i>
        //- nav.secondary-nav
        //-   <ul>
        //-     <li><a href="#">nze</a></li>
        //-     <li><a href="#">people</a></li>
        //-     <li><a href="#">people</a></li>
        //-     </ul>

    
    block content
    #carouselExampleControls.carousel.slide(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src="/static/img/slider/pic.jfif" alt="image")
        .carousel-item
          img.d-block.w-100(src="/static/img/slider/pic.jfif" alt="image")
        .carousel-item
          img.d-block.w-100(src="/static/img/slider/pic.jfif" alt="imge")
      a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
    p people are awesome

    //- footer
    .footer
      span ©hive | Designed by onyango mike(bpmike)
    
